.profile-pic-container {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid orange; /* Orange border */
  }
  
  .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-pic-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .plus-icon {
    font-size: 24px;
    color: #aaa;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    color: white;
    display: block; /* Show by default */
  }
  
  .edit-icon {
    font-size: 18px;
  }
  
  .dropdown-menu {
    position: absolute; /* Adjust positioning as necessary */
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000; /* Make sure it appears above other elements */
  }
  
  .dropdown-menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: block;
    width: 100%;
  }
  
  .dropdown-menu button:hover {
    background: #f0f0f0; /* Highlight on hover */
  }
  

  .audio-container {
    position: relative;
    width: 400px; /* Set your preferred width */
    height: 100px; /* Set your preferred height */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .audio-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    color: #999;
    font-size: 24px;
    font-weight: bold;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
   .audio-container:hover .overlay {
    opacity: 1;
  }

  .edit-icon {
    font-size: 24px;
    color: red;
  }
  