.profile-pic-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f5f5f5; 
  }
  
  
  .upload-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .upload-icon {
    font-size: 24px;
    color: #1890ff; 
  }
  
  .upload-text {
    margin-top: 5px;
    font-size: 14px;
    color: #1890ff;
  }
  